/* zoey */

@font-face {
  font-family: "MaruBuri-Bold";
  font-weight: normal;
  src: url("./assets/fonts/MaruBuri-Bold.otf") format("opentype"),
    url("./assets/fonts/MaruBuri-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "MaruBuri-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
